
/* Your CSS Code here. */
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	padding:10px;
	margin:10px;
	border:1px solid black;
	background-color:beige;
	
}
h1{
	text-align:center;
	padding:10px;
	border:1px solid black;
	background-color:pink;
}

nav{
	border:1px solid black;
	padding:10px;
	margin:10px;
	display:block;
}
#nav-actor {
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	align-items:center;
}
#nav-actor a{
	text-decoration:none;
}
summary{
	padding:10px;
	margin:10px;
	text-align:center;
	font-size:20px;
}
#actor{
	padding:10px;
	margin:10px;
	border:1px solid black;
}
#actor p{
	font-weight:bold;
}
#quote{
	padding:10px;
	margin:10px;
	
}
#quote p{
	color:red;
}
aside{
	padding:10px;
	margin:10px;
}
footer{
	font-weight:bold;
}